/Interface/cisco_read.js
/CMS/public/frontpage/img
run.bat
/CMS/public/.htaccess
CMS/.htaccess
.idea
/Gouresh_Interface/Source/workspace-2/.metadata
.metadata
/Interface/interface.log
exceptions.log
CMS/vendor.zip
npm-debug.log

*.lock
node_modules
nohup.out
Tools/redis-64.3.0.503/dump.rdb
.env.example
.env
Interface/const.js
LiveServer/module/config.js
LiveServer/module/call_transfer.js
Interface/const.js
CMS/composer.json
forever
Interface/const.js
LiveServer/module/config.js
753938811568625263/cp.properties
dump.rdb
*.log
*.pdf
phantom-html2pdf
CMS/public/adminpanel/js/app.js
LiveServer/module/config.js
CMS/public/frontpage/js/config.js
Interface/const.js
config.xml
call_transfer.js
Tools
node_modules
sslcert
Epson
/CMS/storage/exports/*.xls
login_logo.png
backend_header_logo.png
complaint_header_logo.png
header_logo.png
guest_login_logo.png
mobile
*.jpg
*.png
/Mainboard/mainboard/nbproject/private/
/Mainboard/mainboard/build/
CentralServer
/CMS/run.bat

/CMS/app/Http/Controllers/Intface/ProcessController.php
/LiveServer/module/wakeup.js
/LiveServer/module/call_transfer.js
/Interface/iochannel/channelevent.js
/.svn
/CMS/.env
/CMS/.env
/CMS/.env
/Hotlync_win/Hotlync_win/bin/Debug/Hotlync_win.exe
license.txt
*.csr
*.lic
.vscode
*.zip
